
# Byte-compiled / optimized / DLL files
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints
*-checkpoint.ipynb
/venv/
/.idea/
/hydradx/tests/.hypothesis/
/hydradx/notebooks/Omnipool/data/
/hydradx/notebooks/Misc/data/
/hydradx/other tests/.hypothesis/
/hydradx/model/data/
/.hypothesis/
*.env
